# Entornos virtuales
.venv/
venv/
env/

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Variables de entorno
.env
.env.*

# IDEs
.vscode/
.idea/

# Sistema operativo
.DS_Store
Thumbs.db

# Streamlit
.streamlit/secrets.toml

# Archivos temporales
*.log
*.tmp

# Datos generados por la aplicación
data/